/Código/COIL_VIC/build/
/Código/COIL_VIC/dist/
/Código/COIL_VIC/.vscode/*.launch.json
Código/COIL_VIC/nbproject/project.properties
Código/COIL_VIC/nbproject/private/private.xml
Código/COIL_VIC/nbproject/private/private.xml
Código/COIL_VIC/nbproject/private/private.xml
Código/COIL_VIC/.vscode/launch.json
Código/COIL_VIC/.vscode/launch.json
Código/COIL_VIC/.vscode/launch.json
Código/COIL_VIC/.vscode/launch.json
Código/COIL_VIC/.vscode/launch.json
